<?xml version = "1.0" encoding = "UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%X{provider}] [%-5p] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="Loki" class="com.lotfy.logback.loki.LokiAppender">
        <lokiUrl>http://Loki:3100</lokiUrl>
        <labels>
            <label>
                <key>key1</key>
                <value>develop1</value>
            </label>
            <label>
                <key>key2</key>
                <value>develop2</value>
            </label>
            <label>
                <key>key3</key>
                <value>develop3</value>
            </label>
        </labels>
        <enabled>true</enabled>
    </appender>

    <root level="debug">
        <appender-ref ref="Loki"/>
    </root>
</configuration>
